<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://wdswordpress.org">WorkDay Scheduler</a>
  is an undergraduate project by a group of three students of <a href="http://viva-iot.com">Viva Inst. of Technology</a> under the <a href="http://mu.ac.in">University of Mumbai </a>.This project aims to provide an efficient human resource management service.
</p>
