<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
<a href="#">Workday Scheduler</a> is an undergraduate project by a group of three students of <a href="http://www.viva-technology.org/">Viva Inst. of Technology</a> under the <a href="http://mu.ac.in">University of Mumbai </a>.
We (<a href="https://www.facebook.com/prasad.pandey.125">Prasad Pandey</a>,<a href="https://www.facebook.com/mandar.samel.7">Mandar Samel</a>,<a href="https://www.facebook.com/profile.php?id=100007813864533">Rucha Patil</a>) are working towards creating a cloud platform for employees of an organization, this platform will help them to apply for leaves and do overtime work.
</p>

<p>
The platform utilizes the hierarchical structure of employees and transforms leave requests of an employee in suitable blocks of overtime and distributes them to the other employees according to their ability to deliver equivalent or near equivalent services as the applicant.This eliminates the extra effort the applicant has to explicitly put in in-order to find employees wiling to partake and perform.
</p>

<p>
It also provides a visual indicator for the hours of work an employee has delivered in a month,thereby indicating whether the employee is in red (lagging in terms of required amount of work hours to be delivered) or in green (required work hours plus overtime),this feature sublimally motivates an employee to work better.
</p>

<p>
There is an inherent notification service which keeps the employees updated about the leave & overtime acceptance & distribution, respectively.
</p>
