<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Connect with us on our <a href="https://www.facebook.com/WorkdayScheduler">Facebook page</a>.
</p>
You can also follow us on <a href="https://twitter.com/wds_tweets">Twitter</a>.
