<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div style="display:none;">
<%= f.text_area :content, :value => "Took a leave..." %>
</div>

<% if current_user.leave != 1 %>
<%= f.submit "Take a Leave", class: "btn btn-primary" , data: { disable_with: 'Processing' }%>
<% else %>
Applied for leave...
<% end %>
<% end %>



