<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<%= f.submit "Apply for Leave", class: "btn btn-large btn-primary" %>

<p></p>

<%= f.submit "Accept Overtime", class: "btn btn-large btn-primary" %>

<% end %>
