<% @user ||= current_user %>
 <div class="stats">

 <p>
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
      <%= @user.designation  %>
    </strong>
    following
 </a>

 <p> 
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
</p>

</div>

