<% @user ||= current_user %>
 <div class="stats">

 <p>
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
       <% if current_user.designation == "1" %>
	Project Leader
<% else if current_user.designation == "2" %>
	Developer
<% else %>
	Tester
<% end %>
<%end%>
    </strong>
    following
 </a>

 <p> 
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
</p>

</div>

