<footer class="footer">
  <small>Licensed under the
    <a href="http://opensource.org/licenses/MIT/">MIT license</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
